*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out

build/
out/
dist/
.obj/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.ninja*
Makefile.bak

tests/quickJStests/quickjs/qjs
tests/quickJStests/quickjs/qjs.exe
tests/quickJStests/quickjs/qjsc
tests/quickJStests/quickjs/qjsc.exe
tests/quickJStests/quickjs/host-qjsc
tests/quickJStests/quickjs/qjscalc
tests/quickJStests/quickjs/run-test262
tests/quickJStests/quickjs/run-test262.exe
tests/quickJStests/quickjs/unicode_gen
tests/quickJStests/quickjs/run_octane
tests/quickJStests/quickjs/run_sunspider_like

tests/quickJStests/quickjs/examples/test_fib
tests/quickJStests/quickjs/examples/test_fib.exe
tests/quickJStests/quickjs/examples/hello
tests/quickJStests/quickjs/examples/hello.exe
tests/quickJStests/quickjs/examples/hello_module
tests/quickJStests/quickjs/examples/*.so
tests/quickJStests/quickjs/tests/bjson.so
tests/quickJStests/quickjs/test262*
tests/quickJStests/quickjs/test262o*
tests/quickJStests/quickjs/microbench*.txt
──
tests/quickJStests/_HLTEST/myapp
tests/quickJStests/_HLTEST/myapp.exe

.vscode/
.idea/
*.swp
*.swo
*.user
compile_commands.json
.cache/

.DS_Store
Thumbs.db
desktop.ini

*.log